body {
	background-color:#f5f5dc;
	color:#fff;
}

#pic_menu1 {

}

#pic_menu2 {
	
}

#pic_menu3 {
	
}

#pic_menu4 {
	
}

#mid_tv {

}

table {
	color:#000000;
	border: 2px dotted black;
}


footer {
	color:#dc143c;
}
